<!-- Main Title -->
<h1 class="text-center mt-5">{{'MainTitle'|translate}}</h1>


<div class="mx-2 mt-5">

  <!-- Add Button, Search and Filterter -->
    <div class="btn-toolbar justify-content-start" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" (click)="open(content)">{{'AddNew'|translate}}</button>
        </div>
        <div class="input-group ml-3">
          <input type="text" (keyup)="searchByTitle($event)" class="form-control" placeholder="{{'SearchByTitle'|translate}}">
        </div>
        <div class="input-group ml-3">
          <select class="custom-select" id="inputGroupSelect02" (change)="searchByCategoryTitle($event)">
            <option selected value="">{{'ChooseCategory'|translate}}</option>
            <option *ngFor="let category of categories" [value]="category.title">{{category.title}}</option>
          </select>
          </div>
      </div> 

      <!-- Table -->
      <div class="mt-4">
          <table class="table table-bordered">
            <thead class="text-center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{'Title'|translate}}</th>
                <th scope="col">{{'Author'|translate}}</th>
                <th scope="col">{{'Description'|translate}}</th>
                <th scope="col">{{'Thumbnail'|translate}}</th>
                <th scope="col">{{'Category'|translate}}</th>
                <th scope="col">{{'Actions'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of allBooks">
                <th scope="row" style="width: 5%;">{{book.id}}</th>
                <td style="width: 10%;">{{book.title}}</td>   
                <td style="width: 10%;">{{book.author}}</td>
                <td style="width: 20%;">{{book.description}}</td>
                <td class="text-center" style="width: 20%;">
                    <img width="100px" height="100%"  [src]="book.thumbnail" alt="..." class="img-fluid">
                </td>
                <td style="width: 10%;">{{book.category.title}}</td>
                <td style="width: 20%;" class="text-center">
                    <button type="button" class="btn btn-primary" (click)="viewBook(contentView,book.id)">{{'View'|translate}}</button>
                    <button type="button" class="btn btn-warning ml-1" (click)="viewBookToEdit(contentEdit,book.id)">{{'Edit'|translate}}</button>
                    <button type="button" class="btn btn-danger ml-1" (click)="deleteBook(book.id)" >{{'Delete'|translate}}</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <!-- Pagination -->
    <div class="mt-4 d-flex justify-content-end">
      <ngb-pagination  [(collectionSize)]="totalBooks" [(page)]="pageNo" [(pageSize)]="pageSize" (pageChange)="refreshBooks()">
      </ngb-pagination>
    </div>
</div>

<!-- Add Modal -->
<ng-template #content let-modal>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'AddNewBook'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="row ml-1">
            <label for="title">{{'Title'|translate}}</label>
            <div class="input-group">
            <input id="title" formControlName="title" class="form-control" placeholder="{{'InputTitle'|translate}}" ngbAutofocus >
            </div>
          </div>
          <div class="row ml-1 mt-1">
            <label for="author">{{'Author'|translate}}</label>
            <div class="input-group">
            <input id="author" formControlName="author" class="form-control" placeholder="{{'InputAuthor'|translate}}">
            </div>
          </div>
          <div class="row ml-1 mt-1">
            <label for="description">{{'Description'|translate}}</label>
            <div class="input-group">
            <input id="description" formControlName="description" class="form-control" placeholder="{{'InputDescription'|translate}}">
            </div>
          </div>
          <div class="row ml-1 mt-1">
            <label for="category">{{'Category'|translate}}</label>
            <div class="input-group ">
              <select class="custom-select" formControlName="category" id="inputGroupSelect02">
                <option disabled [ngValue]="null" [selected]="true">{{'ChooseCategory'|translate}}</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
              </select>
            </div>
          </div>
          <div class="row ml-1 mt-1">
            <label for="category">{{'InputCategory'|translate}}</label>
            <div class="custom-file">
              <input type="file" formControlName="thumbnail" (change)="selectFile($event)" class="custom-file-input" id="validatedCustomFile" required>
              <label class="custom-file-label" for="validatedCustomFile">{{'ChooseImage'|translate}}</label>
              <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div className="col-md-4">
            <img
              [src]=" imageUrl !=null ? imageUrl : 'https://iwfstaff.com.au/wp-content/uploads/2017/12/placeholder-image.png'"
              alt="Thumbnail"
              width="100%"
              height="100%"
            />
          </div>
        </div>
      </div>
    </div>   
  <div class="modal-footer">
    <button type="submit" [disabled]="!bookForm.valid" class="btn btn-primary"  (click)="modal.close('Save click')">{{'Save'|translate}}</button>
  </div>
</form>
</ng-template>

<!-- Edit Modal -->
<ng-template #contentEdit let-modal>
  <form [formGroup]="bookForm" (ngSubmit)="editBook(bookToEdit.id)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'EditBook'|translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <span></span>
    </div>
    <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="row ml-1">
              <label for="title">{{'Title'|translate}}</label>
              <div class="input-group">
              <input id="title" formControlName="title" class="form-control" placeholder="{{'InputTitle'|translate}}" ngbAutofocus>
              </div>
            </div>
            <div class="row ml-1 mt-1">
              <label for="author">{{'Author'|translate}}</label>
              <div class="input-group">
              <input id="author" formControlName="author" class="form-control" placeholder="{{'InputAuthor'|translate}}">
              </div>
            </div>
            <div class="row ml-1 mt-1">
              <label for="description">{{'Description'|translate}}</label>
              <div class="input-group">
              <input id="description" formControlName="description" class="form-control" placeholder="{{'InputDescription'|translate}}">
              </div>
            </div>
            <div class="row ml-1 mt-1">
              <label for="category">{{'Category'|translate}}</label>
              <div class="input-group ">
                <select  class="custom-select" formControlName="category" id="inputGroupSelect02">
                  <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
                </select>
              </div>
            </div>
            <div class="row ml-1 mt-1">
              
              <label for="category">{{'Image'|translate}}</label>
              <div class="custom-file">
                <input type="file" required (change)="selectFile($event)" class="custom-file-input" id="validatedCustomFile">
                <label class="custom-file-label" for="validatedCustomFile">{{'ChooseImage'|translate}}</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div className="col-md-4">
              <img class="mt-3"
                [src]=" imageUrl !=null ? imageUrl : bookToEdit.thumbnail"
                alt="Thumbnail"
                width="100%"
                height="100%"
                style="object-fit: cover;"
              />
            </div>
          </div>
          
        </div>
      </div>   
    <div class="modal-footer">
      <button type="submit" [disabled]="!bookForm.valid" class="btn btn-primary"  (click)="modal.close('Save click')">{{'Save'|translate}}</button>
    </div>
  </form>
</ng-template>

<!-- View Modal -->
<ng-template #contentView let-modal>
  <form [formGroup]="bookForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">View Book</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="row ml-1">
              <p> <b>{{'Title'|translate}}</b> : {{bookToView.title}}</p>
            </div>
            <div class="row ml-1 mt-1">
              <p> <b>{{'Author'|translate}}</b> : {{bookToView.author}}</p>
            </div>
            <div class="row ml-1 mt-1">
              <p> <b>{{'Description'|translate}}</b> : {{bookToView.description}}</p>
            </div>
            <div class="row ml-1 mt-1">
              <p> <b>{{'Category'|translate}}</b> : {{bookToView.category.title}}</p>
            </div>

          </div>
          <div class="col">
            <div className="col-md-4">
              <img
                [src]="bookToView.thumbnail"
                alt="Thumbnail"
                width="100%"
                height="100%"
              />
            </div>
          </div>
        </div>
      </div>   
    <div class="modal-footer">
    </div>
  </form>
</ng-template>