<!-- Main Title -->
<h1 class="text-center mt-5">{{'MainTitle'|translate}}</h1>
<div class="mx-2 mt-5">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" (click)="open(content)">{{'AddNew'|translate}}</button>

        </div>
    </div>
    <div class="mt-4">
        <table class="table table-bordered">
            <thead class="text-center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{'Title'|translate}}</th>
                <th scope="col">{{'Actions'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <th scope="row" style="width: 10%;">{{category.id}}</th>
                <td style="width: 60%;">{{category.title}}</td>
                <td style="width: 30%;" class="text-center">
                    <button type="button" class="btn btn-warning ml-1" (click)="viewCategoryToEdit(contentEdit,category.id)">{{'Edit'|translate}}</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <!-- Pagination -->
    <div class="mt-4 d-flex justify-content-end">
      <ngb-pagination [(collectionSize)]="totalCategories" [(page)]="pageNo" [(pageSize)]="pageSize" (pageChange)="refreshCategories()">
      </ngb-pagination>
    </div>
</div>

<!-- Add Modal -->
<ng-template #content let-modal>
  <form [formGroup]="categoryForm"  (ngSubmit)="onSubmit() ">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'AddNewCategory'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="title">{{'Title'|translate}}</label>
        <div class="input-group">
          <input id="title" formControlName="title" class="form-control" placeholder="{{'InputTitle'|translate}}" ngbAutofocus>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="!categoryForm.valid" class="btn btn-primary"  (click)="modal.close('Save click')">{{'Save'|translate}}</button>
  </div>
</form>
</ng-template>

<!-- Edit Modal -->
<ng-template #contentEdit let-modal>
  <form [formGroup]="categoryForm" (ngSubmit)="editCategory(categoryToEdit.id)">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'EditCategory'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="title">{{'Title'|translate}}</label>
        <div class="input-group">
          <input id="title" formControlName="title" class="form-control" placeholder="{{'InputTitle'|translate}}" ngbAutofocus>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="!categoryForm.valid" class="btn btn-primary"  (click)="modal.close('Save click')">{{'Save'|translate}}</button>
  </div>
</form>
</ng-template>